.photo-grid{
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, 284px);
  grid-template-rows: repeat(auto-fit, 213px);
  padding: 92px 48px 0 48px;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid{
    gap: 14px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 225px);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid{
    gap: 16px;
    padding: 88px 24px 0 24px;
    grid-template-columns: repeat(auto-fit, 352px);
    grid-template-rows: repeat(auto-fit, 264px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid{
    gap: 12px;
    padding: 64px 16px 0 16px;
    grid-template-columns: repeat(auto-fit, 288px);
    grid-template-rows: repeat(auto-fit, 216px);
  }
}

