.places__title{
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0;
  max-width: fit-content;
}

@media screen and (max-width: 768px) {
  .places__title{
    font-size: 43px;
    line-height: 46px;
    width: calc(100% - 2px);
  }
}

@media screen and (max-width: 320px) {
  .places__title{
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}
