.places__container{
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  grid-template-rows: minmax(min-content, max-content) minmax(460px, max-content); 
  row-gap: 48px;
  column-gap: 40px;
  margin-bottom: 80px;
}

.places__container:last-child{
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__container{
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    grid-template-rows: minmax(min-content, max-content) minmax(440px, max-content);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__container{
    column-gap: 28px;
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    grid-template-rows: minmax(min-content, max-content) minmax(340px, max-content);
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places__container{
    gap: 32px;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    margin-bottom: 50px;
  }
}
