.lead__caption{
  margin: 0;
  color: #fff;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  align-self: flex-start;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .lead__caption{
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption{
    margin-left: 16px;
  }
}